In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('diabetes.csv')

In [4]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
df.shape

(768, 9)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [7]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [8]:
x = df.drop('Outcome', axis = 1)

In [9]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [10]:
y = df['Outcome']

In [11]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [14]:
x_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
695,7,142,90,24,480,30.4,0.128,43
168,4,110,66,0,0,31.9,0.471,29
301,2,144,58,33,135,31.6,0.422,25
446,1,100,72,12,70,25.3,0.658,28
282,7,133,88,15,155,32.4,0.262,37
...,...,...,...,...,...,...,...,...
742,1,109,58,18,116,28.5,0.219,22
594,6,123,72,45,230,33.6,0.733,34
546,5,187,76,27,207,43.6,1.034,53
520,2,68,70,32,66,25.0,0.187,25
697,0,99,0,0,0,25.0,0.253,22

In [15]:
x_test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
48,7,103,66,32,0,39.1,0.344,31
118,4,97,60,23,0,28.2,0.443,22
142,2,108,52,26,63,32.5,0.318,22
495,6,166,74,0,0,26.6,0.304,66
30,5,109,75,26,0,36.0,0.546,60
...,...,...,...,...,...,...,...,...
557,8,110,76,0,0,27.8,0.237,58
418,1,83,68,0,0,18.2,0.624,27
175,8,179,72,42,130,32.7,0.719,36
147,2,106,64,35,119,30.5,1.400,34
26,7,147,76,0,0,39.4,0.257,43

In [16]:
y_train

695    1
168    0
301    1
446    0
282    0
      ..
742    0
594    0
546    1
520    0
697    0
Name: Outcome, Length: 537, dtype: int64

In [17]:
y_test

48     1
118    0
142    0
495    0
30     0
      ..
557    0
418    0
175    1
147    0
26     1
Name: Outcome, Length: 231, dtype: int64

In [18]:
from sklearn.tree import DecisionTreeClassifier

In [19]:
model = DecisionTreeClassifier()

In [20]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [21]:
y_pred = model.predict(x_test)
y_pred

array([1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [22]:
y_test

48     1
118    0
142    0
495    0
30     0
      ..
557    0
418    0
175    1
147    0
26     1
Name: Outcome, Length: 231, dtype: int64

In [23]:
from sklearn import metrics

In [24]:
print(metrics.accuracy_score(y_test, y_pred))

0.6883116883116883

In [25]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [26]:
model.predict([[7, 130, 69, 39, 80, 25.5, 1.01, 24]])[0] == 1

C:\Users\Al Hamd\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

True

In [27]:
if model.predict([[7, 130, 69, 39, 80, 25.5, 1.01, 24]])[0] == 1:
    print("Having Diabetes")
else:
    print("Not Having Diabetes")

Having Diabetes

C:\Users\Al Hamd\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [28]:
if model.predict([[1, 85, 66, 29, 0, 26.6, 0.351, 31]])[0] == 1:
    print("Having Diabetes")
else:
    print("Not Having Diabetes")

Not Having Diabetes

C:\Users\Al Hamd\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(